
.body{
    background:#387D7A;

}


.main-div{
    max-width: 400px;
}

.enter-text:focus{
    color:#fff;
    border: none;
    background:rgba(0,0,0,0.2);
    /* max-width: 400px; */
}
.todos li{
    background:#32936F;
    color: #fff;
}
.delete{
    cursor: pointer;
}
input{
    background:rgba(0,0,0,0.2);

}

.filtered{
    display: none !important;
}